.game{
    color:white;
    font-family:Arial;
    font-size: 100px;
    width:100%;
    height:85vh;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

button{
    border:none;
}

button:focus{
    border:none;
    outline:none;
}

.click_page{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    width:100%;
    cursor:pointer;
}

.click_page h1{
    font-size:50px;
    width:100%;
}

.click_page p{
    font-size:large;
    width:100%;
}

.click_page button:focus{
    outline:none;
    border:none;
}

#vertical_space{
    padding-top:5px;
    padding-bottom:15px;
}

#green_page{
    background-color:rgb(26, 221, 26);
}

#red_page{
    background-color:rgb(216, 62, 62);
}

#blue_page{
    background-color:rgb(40, 134, 196);
    text-align:center;
}

#play_buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:40px;
}

.end_button{
    font-size:large;
    color:gray;
    background-color:gold;
    border:none;
    padding:25px;
    margin-left:20px;
    margin-right:20px;
    border-radius:5px;
    transition:0.5s;
}

.end_button:hover{
    background-color:orange;
    color:white;
    cursor:pointer;
    transition:0.5s;
}

#center{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:20px;
}

.button{
    border:none;
    border-radius:5px;
}

#start{
    width:150px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#big_text{
    font-size:90px;

}

.left{
    width:100%;
    display:flex;
    justify-content:flex-end;
}

#yep{
    padding-left:20px;
    padding-right:20px;
}

footer{
    margin-top:0;
    padding-top:0;
    text-align:right;
    justify-content:center;
}

footer p{
    padding-right:15px;
}

#line{
    margin-top:0;
    height:2px;
}


#cardimg{
    width:50px;
}

#cardbody{
    text-align:center;
    padding-top:70px;
    padding-bottom:50px;
    font-size:20px;
    color:black;
}

#cardtitle{
    margin:10px;
    font-weight: bolder;
    font-size:35px;
    color:black;
}

#card{
    transition: transform 0.1s ease-out;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:40px;
}

#card:hover{
    transform:translateY(-10px);
    text-decoration: none;
    color:pink;
}

#card:hover{
    filter:invert(0%) sepia(50%) saturate(100%) hue-rotate(50deg) brightness(180%);
    text-decoration:none;
}

.dashboard{
    padding-top:50px;
    padding-left:10vw;
    padding-right:10vw;
    padding-bottom:50px;
    background-color: #5d47c7;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

#frontpage{
    height:70vh;
    color:white;
    font-family:Arial;
    width:100%;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-color:rgb(40, 134, 196);
    font-weight: bolder;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#frontpage h1{
    font-size:75px;
}

#frontpage p{
    font-size:25px;
    text-align:center;
    font-weight:lighter;
    padding-bottom:60px;
}

#middlepage{
    height:50vh;
    width:100%;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-color:#e6e8f4;
}

html{
    scroll-behavior: smooth;
}

.memorypage{
    color:white;
    background-color:rgb(40, 134, 196);
    height:85vh;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    width:100vw;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    flex-direction:column;
}

.memorypage p{
    font-size:large;
    padding-top:5px;
}

.memorypage h1{
    font-size:50px;
}

#guessNum{
    width:60vw;
    display:inline-block;
    word-wrap:break-word;
}

#guessNum h1{
    font-size:65px;
}

#memoryLevel{
   opacity:0.5;
   padding:0;
   margin:0;
   font-size:20px;
}

#memoryCorrect{
    color:rgb(55, 222, 22);
    font-size:30px;
    padding:0;
    margin:0;
    text-shadow: 1px 1px 2px #fff;
}

#memoryIncorrect{
    color:rgb(245, 52, 13);
    font-size:30px;
    padding:0;
    margin:0;
    text-decoration:line-through;
    text-decoration-color: black;
}

#memLev{
    padding-top:15px;
}

.form{
    display:flex;
    margin-top:25px;
    margin-bottom:25px;
    width:60vw;
    height:70px;
}

.formtext{
    padding:4px;
    font-size:50px;
    text-align:center;
    width:100%;
    color:white;
    background-color:#2560a0;
    border-radius:10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2)
}

.formtext:focus{
    outline:none;
}

#memorysubmit{
    font-size:30px;
    margin:0px;
    padding:0px;
}

#memorysubmitgray{
    opacity:0.5;
    padding:0px;
    margin:0px;

}