
.reaction_game{
    color:white;
    font-family:Arial;
    font-size: 100px;
    width:100%;
    height:85vh;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

button{
    border:none;
}

button:focus{
    border:none;
    outline:none;
}

.click_page{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    width:100%;
    cursor:pointer;
}

.click_page h1{
    font-size:50px;
    width:100%;
}

.click_page p{
    font-size:large;
    width:100%;
}

.click_page button:focus{
    outline:none;
    border:none;
}

#vertical_space{
    padding-top:5px;
    padding-bottom:15px;
}

#green_page{
    background-color:rgb(26, 221, 26);
}

#red_page{
    background-color:rgb(216, 62, 62);
}

#blue_page{
    background-color:rgb(40, 134, 196);
    text-align:center;
}

#play_buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:40px;
}

.end_button{
    font-size:large;
    color:gray;
    background-color:gold;
    border:none;
    padding:25px;
    margin-left:20px;
    margin-right:20px;
    border-radius:5px;
    transition:0.5s;
}

.end_button:hover{
    background-color:orange;
    color:white;
    cursor:pointer;
    transition:0.5s;
}

#center{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:20px;
}

.button{
    border:none;
    border-radius:5px;
}

#start{
    width:150px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#big_text{
    font-size:90px;

}

.left{
    width:100%;
    display:flex;
    justify-content:flex-end;
}

#yep{
    padding-left:20px;
    padding-right:20px;
}

footer{
    margin-top:0;
    padding-top:0;
    text-align:right;
    justify-content:center;
}

footer p{
    padding-right:15px;
}

#line{
    margin-top:0;
    height:2px;
}


#cardimg{
    width:50px;
}

#cardbody{
    text-align:center;
    padding-top:70px;
    padding-bottom:50px;
    font-size:20px;
    color:black;
}

#cardtitle{
    margin:10px;
    font-weight: bolder;
    font-size:35px;
    color:black;
}

#card{
    transition: transform 0.1s ease-out;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:40px;
}

#card:hover{
    transform:translateY(-10px);
    text-decoration: none;
    color:pink;
}

.dashboard{
    padding-top:50px;
    padding-left:10vw;
    padding-right:10vw;
    padding-bottom:50px;
    background-color: #5D47C7;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

#frontpage{
    height:70vh;
    color:white;
    font-family:Arial;
    width:100%;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-color:rgb(40, 134, 196);
    font-weight: bolder;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#frontpage h1{
    font-size:75px;
}

#frontpage p{
    font-size:25px;
    text-align:center;
    font-weight:lighter;
    padding-bottom:60px;
}

#middlepage{
    height:50vh;
    width:100%;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-color:lightgray;
}

html{
    scroll-behavior: smooth;
}